<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">

                <div class="card">
                    <div class="card-body">
                        <!-- LOGIN FORM -->
                        <h1 class="card-header">Login for existing users:</h1>
<<<<<<< HEAD
                        <form class="login-form ms-3">
=======
                        <form class="ms-3 login-form">
>>>>>>> a68b8d3c41c53e5e0390184371d0d88139aea60d
                            <div class="mb-3 row">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control-lg" id="email-login">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control-lg" id="password-login">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">

                <!-- REGISTER FORM -->
                <div class="card">

                    <div class="card-body">
                        <!-- LOGIN FORM -->
                        <h1 class="card-header">Register a new user:</h1>

                        <form class="ms-3 register-form">

                            <div class="mb-3 row">
                                <label for="exampleInputEmail1" class="form-label">Username</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control-lg" id="username-register">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control-lg" id="email-register">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control-lg" id="password-register">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<<<<<<< HEAD
<script src="./js/login.js"></script>
=======
<script src="/js/login.js"></script>
>>>>>>> a68b8d3c41c53e5e0390184371d0d88139aea60d
